body {
    min-height: 100vh;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#root {
    width: 100%;
    height: 100vh;
}